body {
/*    height: 100%;*/
    font-size: 15vw;
    text-align: center;
}

#toggle {
    font-size: 1em;
    background-color: green;
    border-radius: 50px;
    padding: 0.1em;
    width: 5em;
    color: white;
    outline: none;
}

#time {
    font-size: 1.4em;
    margin: 0em;
}


/*--- Formatting for the timeSheet   ---*/

#timeSheet {
    padding-left: 0;
    margin: 0;
}

.entry {
    display: flex;
    list-style: none;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 0.2em;
    
    /*Gets toggled*/
    height: 0.75em;
    
    overflow: hidden;
    transition: height 0.5s ease;
}

.entryDisplay {
    height: 2.4em;
}

.entryDisplay span {
    background-color: darkgray;
}

.entryDisplay span:nth-child(1) {
    border-radius: 10px 0px 0px 0px;
}

.entryDisplay span:nth-child(2) {
    border-radius: 0px 10px 0px 0px;
}

.entry input[type="time"] {
    background-color: darkgray;
    border: 0;
    font-family: "times";
    font-size: 1em;
    color: blue;
}

.entry button {
    margin: 0em 1em 0em 1em;
    background-color: white;
    border-radius: 1em;
    width: 4em;
    font-size: 0.8em;
}

.entryCell {
    background-color: lightgray;
    width: 49%;
    margin-bottom: 0.3em;
    padding: 0.3em 0em 0.3em 0em;
    border: 1px solid white;

    text-align: center;
    font-size: 0.4em;
    height: 1em;
    color: darkblue;
}

.entryCell:nth-child(1) {
    border-radius: 10px 0px 0px 10px;
}

.entryCell:nth-child(2) {
    border-radius: 0px 10px 10px 0px;
}

.entryCell:nth-child(3) {
    width: 100%;
    height: 3em;
    border-radius: 0px 0px 10px 10px;
}