<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span>Contacts</span>
        <a href="#" class="btn btn-success float-right">New Contact</a>
      </div>
      <div class="panel-body">

        <div class="row">
          <div class="col-xs-12">
            <a href="#" class="list-group-item clearfix" *ngFor="let contact of contacts">
              <div class="pull-left">
                <h4 class="list-group-item-heading">{{ contact.name }}</h4>
              </div>
              <span class="pull-right">
                <img [src]="contact.imageURL" alt="{{ contact.name }}" class="img-responsive" style="max-height: 50px;">
              </span>
            </a>
            <!-- <contact-detail></contact-detail> -->
          </div>
        </div>

      </div>
    </div>
  </div>
</div>