/*General*/

* {
    font-family:sans-serif;
    margin: 0;
}

html,body {
    height: 100%;
    font-size: 20px;
}

body {
    background-image: url("/acme/images/site/background.jpg");
    background-size: cover;
    margin: 8px;
}

h1 {
    font-size: 3em;
    color: #990033;
}

noscript {
    color: white;
    padding: 0.5em;
}

/*Header*/

header {
    background-color: #ffffff;
}

/*Navigation Bar*/

nav {
    background-color: #de2226;
    
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 1em 0 1em;
}

nav ul li {
    color: #ffffff;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/*Main*/

main {
    background-color: #ffffff;
}

.wrapper {
    display: flex;
    visibility: visible;
    flex-wrap: wrap;
}

.feature {
    background: url("/acme/images/site/feature.jpg");
    background-size: cover;
    color: #ffffff;
    border-radius: 1em;
    margin: 0.5em;
}

.feature ul {
    margin-left: 100px;
    padding: 10px;
}

.feature ul li {
    list-style: none;
    text-align: right;
}

.recipes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.recipes h2 {
    order: 1;
    width: 100%;
}

.recipes div {
    width: 150px;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    text-align: center;
    font-size: 0.9em;
    
    background-color: #808080;
    color: #ffffff;
    order: 2;
}

.recipes img {
    width: 100%;
    border-radius: 10px;
}

.reviews {
    padding: 10px;
}

.reviews ul {
    text-align: left;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

/*Product Page*/

.content {
/*By default the display is none, but when it's being used it should be flex*/
    display: none;
    flex-direction: column;
}

.imagery img {
    margin: 1em;
    border-radius: 1em;
    width: 90%;
}

.information {
    padding: 0em 2em 2em 2em;
    
}

#name {
    color: #990033;
    text-align: center;
}

#price {
    color: #0000ee;
    font-size: 2em;
}

/*Footer*/

footer {
    margin: 0;
    background-color: #808080;
    font-size: 0.5em;
}

/*-- Desktop Version --*/

@media (min-width : 730px) {
    body {
        margin: 10px 20px;
    }
    
    .wrapper {
        flex-direction: row;
    }
    
    .feature {
        width: 100%;
        height: 500px;
    }
    
    .feature ul {
        color: #990033;
        float: right;
        padding: 2em;
    }
    
    .feature ul li {
        padding: 0.5em;
        text-align: left;
    }
    
    .recipes {
        width: 50%;
        flex-wrap: wrap;
    }
    
    .reviews {
        width: 40%;
    }
    
    .content {
        flex-direction: row;
        justify-content: center;
    }
    
    .information {
        padding: 2em;
        width: 40%;
    }
    
    footer {
        margin: 0;
    }
}